__pycache__/
*.pyc
framed*.json

# Transient SHACL scratch files written by the converters during validation.
DCAT/.shacl-coreDiscovery.ttl
DDI/.shacl-CoreDiscovery.ttl

# NB: do not ignore validation/ — it is a tracked git submodule.
